@page "/"
@using System.ComponentModel.DataAnnotations
@using KITT.Web.ReCaptcha.Blazor.v2

@inject KITT.Web.ReCaptcha.Http.v2.ReCaptchaService ReCaptchaService
@implements IDisposable

<PageTitle>KITT ReCaptcha - Blazor Server sample</PageTitle>

<h1>KITT ReCaptcha - Blazor Server sample</h1>

@if (!string.IsNullOrWhiteSpace(message))
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert @(isSuccessMessage ? "alert-success" : "alert-danger")" role="alert">
                <p>@message</p>
                @if (errorCodes.Any())
                {
                    <ul class="list-unstyled">
                        @foreach (var errorCode in errorCodes)
                        {
                            <li>@errorCode</li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
}

<EditForm EditContext="context" role="form" OnValidSubmit="Submit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Text</label>
        <InputTextArea @bind-Value="model.Text"
                       class="form-control"
                       tabindex="0" />
    </div>

    <div class="mb-3">
        <ReCaptcha SiteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
                   @bind-Value="model.CaptchaResponse"
                   Theme="Theme.Dark"
                   Size="Size.Normal"
                   TabIndex="1" />
    </div>

    <div class="mb-3">
        <button type="submit" disabled="@disabled" class="btn btn-primary">Click!</button>
    </div>
</EditForm>

@code {
    private ViewModel model = new();

    private EditContext? context;

    private bool disabled = true;

    private string? message;

    private bool isSuccessMessage;

    private IEnumerable<string> errorCodes = Enumerable.Empty<string>();

    protected override void OnInitialized()
    {
        context = new EditContext(model);
        context.OnFieldChanged += OnFieldChangedHandler;
    }

    private void OnFieldChangedHandler(object? sender, FieldChangedEventArgs e)
    {
        disabled = !(context!.Validate());
        StateHasChanged();
    }

    private async Task Submit()
    {
        Console.WriteLine($"Text: {model.Text}");
        Console.WriteLine($"Captcha: {model.CaptchaResponse}");

        try
        {
            var reCaptchaResponse = await ReCaptchaService.VerifyAsync(model.CaptchaResponse);
            if (reCaptchaResponse.Success)
            {
                message = "reCaptcha validated successfully!";
                isSuccessMessage = true;
                errorCodes = Enumerable.Empty<string>();
            }
            else
            {
                message = "Error validating reCaptcha";
                isSuccessMessage = false;
                errorCodes = reCaptchaResponse.ErrorCodes;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);

            message = $"[Exception {ex.GetType()}] {ex.Message}";
            isSuccessMessage = false;
        }
        finally
        {
            model = new();
        }
    }

    void IDisposable.Dispose()
    {
        context!.OnFieldChanged -= OnFieldChangedHandler;
    }

    class ViewModel
    {
        [Required]
        public string Text { get; set; } = string.Empty;

        [Required]
        public string CaptchaResponse { get; set; } = string.Empty;
    }
}
